// assets/variables.scss
@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Roboto&display=swap");
// Open+Sans|Roboto|Montserrat, Lato, Nunito Sans, Raleway, Lora, Maven Pro, PT Sans, Carlito

@import '~vuetify/src/styles/styles.sass';

// The variables you want to modify
$font-size-root: 15px;
$line-height-root: 1.8;
// For updating SASS lists
// $material-light: map-merge($material-light, ( cards: blue ));
// $btn-border-radius: 10px;
$body-font-family: "Maven Pro", Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
$code-color: #383636;
$v-content-padding: 65px 0px 65px;

// https://stackoverflow.com/questions/57130910/how-do-i-apply-css-to-all-elements-except-when-first-child-is-of-certain-id/
.content-body {
  max-width: 1050px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

  .v-data-footer {
    justify-content: center;
  }

  .v-data-footer__select {
    margin-right: 0px;
  }

  .v-data-footer__select .v-input {
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 13px;
    margin-left: 14px;
  }

  .v-data-footer__pagination {
    margin-top: 0px;
    margin-right: 14px;
    margin-bottom: 0px;
    margin-left: 14px;
  }
}

pre {
  overflow: auto;
}
code[class^="language-"] {
  overflow: auto;
  white-space: pre !important;
  width: 100%;
}

.footnote-ref, .footnote-backref {
  font-weight: bold;
}

.blogPostContent {
  padding-bottom: 2em;
}
