// assets/variables.scss
@import '~vuetify/src/styles/styles.sass';

// The variables you want to modify
$font-size-root: 14px;
// For updating SASS lists
// $material-light: map-merge($material-light, ( cards: blue ));
// $btn-border-radius: 10px;
$body-font-family: roboto;
$code-color: #383636;
$v-content-padding: 65px 0px 65px;

// https://stackoverflow.com/questions/57130910/how-do-i-apply-css-to-all-elements-except-when-first-child-is-of-certain-id/
.content-body {
  max-width: 1050px;
}
